<div class="trainer-manage-page">
  <div class="container">
    <div class="manage-notification-wrapper">
      <span>未返信メッセージ：○件</span>
      <span>/</span>
      <span>フォロワーの数：○人</span>
      <span>/</span>
      <span>コンサルタント申請：○人</span>
    </div>
    <div class="manage-follower-wrapper">
      <div class="follower-container">
        <div class="follower-info">
          <span>フォロワーの名前</span>
        </div>
        <div class="follower-status">
          <span class="fa fa-envelope">契約中</span>
          <span class="fa fa-envelope">新着</span>
          <span class="fa fa-envelope">○ヶ月</span>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
