<div class="trainer-search-page">
  <div class="container">
    <div class="search-engine-wrapper">
      <input placeholder="キーワード入力"><p class="btn fa fa-search"></p>
      <span class="btn speciality-btn">食事管理</span>
      <span class="btn speciality-btn">筋トレ指導</span>
    </div>
    <div class="search-result-wrapper">
      <div class="trainer-container">
        <div class="trainer-container-left">
          <p>ここに画像表示</p>
        </div>
        <div class="trainer-container-right">
          <p class="name">名前</p>
          <span class="l2 gender">男性</span>
          <span class="l2 height">身長：</span>
          <span class="l2 height">体重：</span>
          <span class="l2 age">年齢：</span>
          <p class="l3 career">筋肉留学経験あり</p>
        </div>
      </div>
    </div>
  </div>
</div>
