<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>マイトレ</title>
  <link rel="stylesheet" type="text/css" href="">
</head>
<body>

<!-- トップ部分 -->
<div class="top-wrapper">
  <div class="container">
    <h1>
      あなたの好きな
      <br />
      トレーナーを見つけよう.
    </h1>
    <p>
      マイトレは月額500円でトレーナーからコンサルタントを受けられるサービスです。
      <br />
      ダイエットや筋力アップなど、目的別に的確・効率的に学びましょう。
    </p>
    <a href="#" class="btn signup">新規登録はこちら</a>
  </div>
</div>
</body>
</html>
