<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>マイトレ</title>
  <link rel="stylesheet" type="text/css" href="home.scss">

</head>
<body>


<!-- トップ部分 -->
<div class="top-wrapper">
  <div class="container">
    <h1 class="catch-copy">
      あなたの好きな
      <br />
      トレーナーを見つけよう.
    </h1>
    <p class="service-description">
      マイトレは月額500円でトレーナーからコンサルティングを受けられるサービスです。
      <br />
      ダイエットや筋力アップなど、目的に合わせてプロに頼りましょう！
    </p>
    <p class="btn signup signup-show">新規登録はこちら</p>
  </div>
</div>
<!-- /トップ部分 -->


<!-- コンテンツ部分 -->
<div class="bottom-wrapper">
  <div class="container">
    <div class="description left">
      <h2>フォロアーのお悩み</h2>
      <div class="trouble">
        <p>パーソナル契約は高額…</p>
        <p>自分に合うトレーナーが見つからない…</p>
      </div>
      <span class="fa fa-arrow-down"></span><br />
      <p class="solution">月額500円でプロに相談し放題</p>

      <div class="functions">
        <div class="function">
          <p class="function-title">
            <span class="fa fa-bullhorn"></span>
            チャットスペース機能
          </p>
          <img class="gif-movie" src="chat_play.gif" onclick="this.setAttribute('src', this.getAttribute('src').replace(/_play.gif$/g, '.gif'));" style="cursor: pointer;">
          <p>食事やトレーニングをチャットで相談</p>
        </div>
      </div>
    </div>
    <div class="description right">
      <h2>トレーナーのお悩み</h2>
      <div class="trouble">
        <p>顧客との引き合いの機会がない…</p>
        <p>時間が足りず顧客を増やせない…</p>
      </div>
      <span class="fa fa-arrow-down"></span><br />
      <p class="solution">空き時間にWeb上で収益</p>

      <div class="functions">
        <div class="function">
          <p class="function-title">
            <span class="fa fa-bullhorn"></span>
            顧客一元管理機能
          </p>
          <img class="gif-movie" src="manage_play.gif" onclick="this.setAttribute('src', this.getAttribute('src').replace(/_play.gif$/g, '.gif'));" style="cursor: pointer;">
          <p>顧客の契約状態が一目でわかる</p>
        </div>
      </div>
    </div>
    <div class="message">
      <p>さぁ、早速マイトレを活用しましょう！</p>
      <p class="btn signup signup-show">さっそく登録する</p>
    </div>
  </div>
</div>
<!-- /コンテンツ部分 -->

<!-- フッター部分 -->
<footer>
  <div class="container">
    <div class="footer-left">
      <p>マイトレ</p>
      <span>あなたの好きなトレーナーを見つけよう</span>
    </div>
  </div>
</footer>
<!-- /フッター部分 -->
<script src="application.js"></script>
</body>
</html>
