<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>マイトレ</title>
  <link rel="stylesheet" type="text/css" href="home.scss">
</head>
<body>

<!-- ヘッダー部分 -->
<header>
  <div class=" container">
    <div class="header-left">
      <p>マイトレ</p>
    </div>
    <div class="header-right">
      <a href="#">トレーナーを検索</a>
      <a href="#" title="">ログイン</a>
    </div>
  </div>
</header>
<!-- /header -->

<!-- トップ部分 -->
<div class="top-wrapper">
  <div class="container">
    <h1 class="catch-copy">
      あなたの好きな
      <br />
      トレーナーを見つけよう.
    </h1>
    <p class="service-description">
      マイトレは月額500円でトレーナーからコンサルタントを受けられるサービスです。
      <br />
      ダイエットや筋力アップなど、目的別に的確・効率的に学びましょう。
    </p>
    <a href="#" class="btn signup">新規登録はこちら</a>
  </div>
</div>
<!-- /トップ部分 -->
</body>
</html>
