/* CSSリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* CSSリセットここまで */

/* トップ部分のレイアウト */
.top-wrapper{
  background-image: url('top-background.jpg');
  background-size: cover;
  padding: 180px 0 100px 0;
}

.container{
  width: 100%;
  padding: 0 15px;
  text-align: center;
}

.catch-copy{
  font-size: 45px;
  font-weight: bold;
  color: black;
  opacity: 0.9;
}

.service-description{
  color: black;
  opacity: 0.9;
}

.btn{
  display: inline-block;
  padding: 8px 24px;
  color: white;
  border-radius: 5px;
}

.signup{
  background-color: #239b76;
  opacity: 0.8;
  margin-top: 30px;
}
